<div class="form-bg-light p-2">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group w-100">
            <label for="emailID">Email address</label>
            <input type="email" formControlName="emailID" class="form-control" name="emailID" id="emailID">
        </div>

        <div class="form-group w-100">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" name="password" id="password">
        </div>

        <div class="form-group w-100">
            <button type="submit" class="btn btn-primary mr-4">Login</button>
            <button [routerLink]="['/register']" routerLinkActive="router-link-active"  type="button" class="btn btn-light ml-5">Register</button>
        </div>
    </form>
</div>
